html, body {
	overflow: hidden;
}

.balalaika {
	position: relative;
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
	padding: 30px;
}
.balalaika:before {
	margin-top: 80%;
	content: '.';
	font-size: 0;
	display: inline-block;
}

.balalaika * {
	cursor: default;
}

.head {
	position: absolute;
	left: 46%;
	top: 10%;
	width: 8%;
	height: 15%;
	background: #D4BE6A;
}

.fingerboard {
	position: absolute;
	left: 47.5%;
	top: 20%;
	width: 5%;
	height: 60%;
	background: #D4BE6A;
}

.body {
	left: 22%;
	bottom: 10%;
	position: absolute;
	width: 30%;
	height: 0;
	padding-left: 30%;
	padding-bottom: 30%;
	overflow: hidden;
}

.body:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 700px solid #D4BE6A;
}

.circle {
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	position: absolute;
	left: 36%;
	bottom: 18%;
	background: #D5A848;
	border-radius: 50%;
	width: 25%;
	height: 50%;
}

.string {
	width: 1%;
	height: 70%;
	bottom: 15%;
	position: absolute;
	background-color: black;
}

#\31 {
	left: 48%;
}

#\32 {
	left: 49.5%;
}

#\33 {
	left: 51%;
}